* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #340b19;
  padding: 20px;
  font-family: 'Inter', sans-serif;

}
.dark{
  background-color: #000000; 
  color: #ffffff; 
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.03em;
  font-family: "Nunito", sans-serif;
  
}
.black{
  color: #808080;
}

/* Nav style*/
nav {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 30px 25px;
  height: 60px;
  box-shadow: 0px 1px 4px rgba(250, 59, 240, 0.25);
  z-index: 1;
}
.nav-logo {
  width: 30px;
  margin-right: 10px;
  color: rgb(51, 10, 10);
}

.nav-logo-text {
  color: #61DAFB;
  margin-right: auto;
}
.toggle-text{
  margin-right: 10px;
  color: #0f5a56;
}

.nav-text {
  color: #DEEBF8;
}

.toggler {
  display: flex;
  align-items: center;
}

.toggler .toggler--light {
  font-size: 0.625rem;
  font-weight: 600;
}

.toggler--slider {
  width: 25px;
  height: 13px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

nav.dark .toggler--slider {
  border-color: white;
  background-color: #F5F5F5;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
}

nav.dark .toggler--slider--circle {
  background-color: black;
}

.toggler--light {
  color: #2B283A;
}

nav.dark .toggler--light {
  color: #918E9B;
}
.toggler--dark {
  color: #D5D4D8;
}

nav.dark .toggler-dark {
  color: #FFFFFF;
}

nav.dark .toggler--slider {
  justify-content: flex-end;
}


/* Main style*/
main {
  background-color: #eeeeee;
  height: 400px;
  max-width: 800px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 50px auto;
}
.main-container{
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
  border-radius: 10px;

}
.title{
 text-align: center;
 font-weight: 700;
 font-size: 2.5rem;
 height: 31px;
 max-width: 500px;
 font-family: 'Inter', sans-serif;
 line-height: 30px;
  display: flex;
  align-items: center;
  letter-spacing: -0.03em;
  color: #2B283A;

}
.description{
  height: 58px;
  width: 400px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.03em;
  color: #4A4E74;

}
.die-item-container{
  width: 50px;
  height: 50px;
  box-shadow: 0px 2px 2px 0px #00000026;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;

}
.die-item-container:hover{
  transition: 1s;
  background-color: rgb(184, 248, 248);
}
.die-item{
  font-size: 2.5em;
}
.roll-btn{
  height: 50px;
width: 100px;
box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
border-radius: 6px;
cursor: pointer;
background-color: #340b19;
color: #ffffff;
font-size: 0.8em;
font-weight: 700;
text-align: center;
border: none;
line-height: 19px;
word-spacing: 2px;
font-family: 'Inter', sans-serif;

}
.roll-btn:hover {
 transition: 1s;
 background-color: #640f2b;
}
.roll-btn:focus{
  outline: none;
}
.roll-btn:active{
  box-shadow: inset 5px 5px 10px -3px rgba(139, 139, 139, 0.7);
  
}
/* Apply Animation */
.Die-shaking{
  animation-name:wobble;
  animation-duration: 1s;
}
/* Setting Animation effect to the 
   dice using css keyframe */
   @keyframes wobble {
    from {
      transform: translate3d(0, 0, 0);
    }
    15% {
      transform: translate3d(-25%, 0, 0) 
                 rotate3d(0, 0, 1, -5deg);
    }
    30% {
      transform: translate3d(20%, 0, 0) 
                 rotate3d(0, 0, 1, 3deg);
    }
    45% {
      transform: translate3d(-15%, 0, 0)
                 rotate3d(0, 0, 1, -3deg);
    }
    60% {
      transform: translate3d(10%, 0, 0) 
                 rotate3d(0, 0, 1, 2deg);
    }
    75% {
      transform: translate3d(-5%, 0, 0) 
                 rotate3d(0, 0, 1, -1deg);
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }