* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #340b19;
  padding: 20px;
  font-family: 'Inter', sans-serif;

}

main {
  background-color: #eeeeee;
  height: 400px;
  max-width: 800px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.main-container{
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
  border-radius: 10px;

}
.die-item-container{
  width: 50px;
  height: 50px;
  box-shadow: 0px 2px 2px 0px #00000026;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;

}
.die-item-container:hover{
  transition: 1s;
  background-color: rgb(184, 248, 248);
}
.die-item{
  font-size: 2.5em;
}
.roll-btn{
  height: 50px;
width: 100px;
box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
border-radius: 6px;
cursor: pointer;
background-color: #340b19;
color: #ffffff;
font-size: 0.8em;
font-weight: 700;
text-align: center;
border: none;
line-height: 19px;
word-spacing: 2px;
font-family: 'Inter', sans-serif;

}
.roll-btn:hover {
 transition: 1s;
 background-color: #640f2b;
}
.roll-btn:focus{
  outline: none;
}
.roll-btn:active{
  box-shadow: inset 5px 5px 10px -3px rgba(139, 139, 139, 0.7);
  
}